<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.yipartyapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许查看当前网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".core.FriendsCircleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".core.OrderPageUI.OrderDetails"></activity>
        <activity
            android:name=".core.recommendPage_ui.MerchantDetlisActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".core.MinePage_headImage.AboutVersionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".core.MinePage_headImage.UpPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".core.MinePage_headImage.SchoolActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".core.MinePage_headImage.MineInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".core.MinePage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".core.OrderPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".core.RecommendPage" />
        <activity
            android:name=".core.HomePage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ClientInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".core.recommendPage_ui.MerchantFragment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".core.dongtaiActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.yipartyapp"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>